html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-family: Merriweather, serif;
  text-align: center;
  margin: 0;

}

main {
  background-color: #d05c2e;
}

h1 {
  color: white;
  font-size: 2rem;
  background-color: #d05c2e;
  margin: 0 0 .7rem;
}

img {
  width: 40px;
}

.left {
  float: left;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  color: white;
  font-size: 1.125rem;
  background-color: #d05c2e;
  margin: .3rem;
  padding: .5em 0 0;
  overflow: hidden;
}

.home {
  float: left;
  width: 33.3333%;
  border: solid #a63f38;
}

.cereals {
  float: left;
  width: 33.3333%;
  border: solid #a63f38;
}

.legumes {
  float: left;
  width: 33.3333%;
  border: solid #a63f38;
}
